
<section class="text-gray-700 lines body-font">
  <div class="container w-full mx-auto px-5 pb-24 flex md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 text-center lg:pr-24 md:pr-16 flex flex-col md:text-left mb-8 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-center text-3xl font-medium text-gray-900" >Hi, I'm Bryan Arenas.
        <div class="content my-2 text-center">
          <div class="slider-wrapper">
            <div class="slider">
              <div class="slider-text1 text-blue-700 ">UI/UX Designer</div> 
              <div class="slider-text2 text-blue-700 ">Content Writer</div>
              <div class="slider-text3 text-blue-700 ">Web Developer</div>
            </div>
          </div>
        </div>
      </h1>
      <p class="pb-8 mt-2 text-center leading-relaxed">Based in Florida, USA. Follow the links below for more information.</p>
      <div class="flex justify-center">
        <%= link_to "Linktree", "https://linktr.ee/BryanArenas", class: "inline-flex text-white bg-green-500 hover:bg-green-600 border-0 py-2 px-6 focus:outline-none rounded text-lg" %>
        <%= link_to "Resume/CV", ('BryanArenasCV.pdf'),  class: "ml-4 inline-flex text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg" %>
      </div>
    </div>
     <div class="md:w-1/2 w-5/6 object-cover object-center rounded" style="padding:56.25% 0 0 0;position:relative;">
	 <iframe src="https://player.vimeo.com/video/145852876?title=0&byline=0&portrait=0" class="vod outline rounded" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
	 </div>
    </div> 
</section>

<div id="articles" class="pb-5 bg-white"></div>
<section class="py-8 bg-white border-b anchor">
	<div class="container flex flex-wrap pt-4 pb-12 mx-auto">
		<h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">Recent Articles</h1>
		<div class="w-full mb-4">
			<div class="w-64 h-1 py-0 mx-auto my-0 rounded-t opacity-25 bg-gray-800"></div>
		</div>
	<% @posts.each do |post| %>
		<div class="flex flex-col flex-grow flex-shrink p-6 md:w-1/3">
			<div class="flex-1 pt-3 overflow-hidden bg-white rounded-t rounded-b-none shadow">
					<p class="w-full px-6 text-xs text-gray-600 text-gray-800 md:text-sm">Posted <%= time_ago_in_words(post.created_at) %> ago</p>
					<div class="w-full px-6 text-xl font-bold text-black hover:underline hover:text-gray-800"><%= link_to post_path(post.id) do %>
					<strong><%= post.title %></strong>
					<% end %></div>
					<p class="px-6 mb-5 text-base text-gray-800">
					<%= truncate(post.description, :length => 60) %>
					</p>
			</div>
			<div class="flex-none p-6 mt-auto overflow-hidden bg-white rounded-t-none rounded-b shadow">
				<div class="flex items-center justify-center">
					<button class="px-8 py-4 mx-auto my-6 font-bold text-white rounded-full shadow-lg lg:mx-0 hover:underline hover:bg-black bg-gray-800"><%= link_to post_path(post.id) do %>
					<p>Read more</p>
					<% end %></button>
				</div>
			</div>
		</div>
<% end %>
	</div>
</section>

</section>
