<div class="section w-full">
    <div class="flex align-center justify-center items-center">
      <div class="mx-5 my-5 pt-24 pb-5">
          <form class="bg-white shadow-md border rounded px-8 pt-6 pb-8 mb-4">

              <h2 class="flex justify-center text-gray-700 text-3xl font-semibold tracking-wide">Log in</h2>
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <label class="block text-gray-700 text-sm font-bold my-5 pb-5" for="Email">
        <%= f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email", class: "mt-2 shadow appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", id: "username", type: "text", placeholder: "Email" } %>
      </label>

      <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        <%= f.input :password, required: false, input_html: { autocomplete: "current-password", class: "mt-2 shadow appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", id: "password", type: "text", placeholder: "Password" } %>
      </label>

      <br />
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %> <br />
      <div class="flex justify-center">
          <div class="form actions">
            <%= f.button :submit, "Log in", class: "justify-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline", type: "button" %>
          </div> <br />
          <% end %>
        </div>
      </form>
    </div>
      <p class="text-center text-gray-500 text-xs">
        This area is meant only for site owner.
      </p>
  </div>
</div>
