<!DOCTYPE html>
<html>
  <head>
    <title>Arenas, B.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>


</head>

  <body>
    <% if flash[:notice] %>
    <div class="relative px-4 py-3 text-blue-700 bg-blue-100 border border-blue-500 rounded" role="notice">
  <strong class="font-bold">Notice: </strong>
  <span class="block sm:inline"><%= notice %></span>
  <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
    <svg class="w-6 h-6 text-blue-500 fill-current" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
  </span>
</div>
<% end %>

<% if flash[:alert] %>
<div class="relative px-4 py-3 text-red-700 bg-red-100 border border-red-400 rounded" role="alert">
  <strong class="font-bold">Error:</strong>
  <span class="block sm:inline"><%= alert %></span>
  <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
    <svg class="w-6 h-6 text-red-500 fill-current" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
  </span>
</div>
<% end %>

    <%= render "/layouts/navbar" %>



    <%= yield %>
  <section id="footer" class="mb-5 w-full top-0 flex flex-row justify-center mx-auto">
      <%= link_to "https://twitter.com/BryanAr96989579", class: "pr-2 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" do %>
        <i class="fa fa-twitter" aria-hidden="true"></i>
      <% end %>
      <%= link_to "https://www.facebook.com/brryyyaaannn/", class: "px-2 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" do %>
          <i class="fa fa-facebook" aria-hidden="true"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/in/bryan-arenas-0b855769/", class: "px-2 py-2 mt-2 text-md font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" do %>
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      <% end %>
      <%= dial_to "+14075839501", class: " py-2 mt-2 text-md hover:underline bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" do %>
      <i class="fa fa-phone" aria-hidden="true"></i> : (407) 583 - 9501 |
      <% end %>
      <%= mail_to "codearenas@gmail.com", class: " py-2 mt-2 text-md hover:underline bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" do %>
				<i class="fa fa-envelope-square" aria-hidden="true"></i>: codearenas@gmail.com | 
      <% end %>
      <%= link_to "https://www.google.com/maps/search/?api=1&query=lake+eola+park", class: " py-2 mt-2 text-md hover:underline bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" do %>
				<i class="fa fa-globe" aria-hidden="true"></i>: Orlando, FL</div>
      <% end %>
    </section>

  </body>



</html>
